<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style2.css">
    </head>
    <body>
      <article class="contenedor01">
        <h2>Lorem ipsum, dolor sit</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto veritatis culpa at consectetur id a, itaque, veniam asperiores repellat illo rerum magnam vitae illum excepturi error debitis sint suscipit recusandae obcaecati. Doloribus aliquid veritatis libero! Deleniti recusandae esse, a ab laboriosam enim, adipisci vel consectetur vero ullam cumque est nesciunt laborum laudantium tempore culpa sequi aut eveniet consequuntur. Possimus, omnis. Iste itaque numquam blanditiis dolore temporibus
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nihil esse, facere aliquam ab totam earum id cumque unde quod nemo quisquam laboriosam explicabo aut dolore dicta fugiat, velit, tempore veritatis sunt natus autem nesciunt? Obcaecati quia nemo quaerat quidem facere ab explicabo molestiae dolor quod laborum odit magni eligendi laudantium minus animi saepe, sapiente illum sint voluptatem porro aut.
        </p>
        <article class="contenedor02">
        soy el contenedor02
        </article>
      </article>
      <article class="contenedor02">
        <h2>Lorem ipsum, dolor sit</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias architecto veritatis culpa at consectetur id a, itaque, veniam asperiores repellat illo rerum magnam vitae illum excepturi error debitis sint suscipit recusandae obcaecati. Doloribus aliquid veritatis libero! Deleniti recusandae esse, a ab laboriosam enim, adipisci vel consectetur vero ullam cumque est nesciunt laborum laudantium tempore culpa sequi aut eveniet consequuntur. Possimus, omnis. Iste itaque numquam blanditiis dolore temporibus
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nihil esse, facere aliquam ab totam earum id cumque unde quod nemo quisquam laboriosam explicabo aut dolore dicta fugiat, velit, tempore veritatis sunt natus autem nesciunt? Obcaecati quia nemo quaerat quidem facere ab explicabo molestiae dolor quod laborum odit magni eligendi laudantium minus animi saepe, sapiente illum sint voluptatem porro aut.
        </p>
        <article class="contenedor01">
        soy el contenedor 2
        </article>
      </article>
    </body>
</html>